#version: "3.9" 已经过时
name: postgres

services:
  postgres:
    image: postgres:16.4 # 镜像，注意旧版数据库管理软件可能不支持
    container_name: postgres
    restart: "no" # no ,always
    environment:
      - POSTGRES_NAME=postgres # 数据库名
      - POSTGRES_USER=postgres # 用户名
      - POSTGRES_PASSWORD=postgres  # 密码
      - PGDATA=/var/lib/postgres/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - "~/postgres/data:/var/lib/postgres/data"   # 数据挂载
      - "~/postgres/backup:/var/backup/pgsql:rw"   # 备份路径
    #network_mode: host # 使用主机网络


